---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Ron from "./Ron.astro";
import { Image } from "astro:assets";
import botellaRon from "../images/Appleton_Estate.jpg";
import espacial from "../images/bebidaEspacio.jpg";
---

<Layout title="Cocteles">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Emblema+One&family=Honk&family=Jersey+10&family=Kosugi+Maru&family=Moul&family=Rubik+80s+Fade&family=Rubik+Broken+Fax&family=Rubik+Dirt&family=Rubik+Glitch&family=Rubik+Mono+One&family=Suez+One&display=swap"
		rel="stylesheet"
	/>

	<main>
		<h1><span class="text-gradient">COCTELES</span></h1>
		<div class="coctelinicio">
			<!--<img src={espacial.src} alt="botella">	 -->
		</div>
		<div class="grid-cartas">
			<ul role="list" class="link-card-grid">
				<Card href="/Ron" title="Ron" body="" />
				<!-- <Image src={botellaRon} alt="botella" /> -->
				<div class="vodka">
					<Card href="/Vodka" title="Vodka" body="" />
				</div>
				<Card href="/Tequila" title="Tequila" body="" />
				<Card href="" title="Whiskey" body="" />
				<Card href="" title="Ginebra" body="" />
			</ul>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		font-family: gabarito;
	}
	body{
		background-image: url('../pages/img/patron2max.png');
		background-size: cover;
		background-position: center;
	}
	.grid-cartas{
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: 2fr;
		grid-gap: 0px;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 95px;
		font-weight: 900;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		font-weight: 900;
		font-family: "emblema one";
		/*color: rgb(4, 57, 131);*/
		/*color: rgb(35, 250, 175);*/

		/*color: rgb(255, 255, 255);
		text-shadow: 4px 0px 1px rgb(1, 202, 102);*/
		color: rgb(255, 255, 255);
		/*text-shadow: 5px 0px 1px rgb(0, 146, 63);*/
		text-shadow: 5px 0px 1px rgb(2, 0, 146);
	}
	@media (max-width: 720px) {
		h1 {
			font-size: 60px;
		}
	}
	@media (max-width: 520px) {
		h1 {
			font-size: 40px;
		}
	}
	/*.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}*/

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.coctelinicio {
		text-align: center;
	}
	.coctelinicio img {
		width: 45%;
		height: 45%;
		border-radius: 1em;
	}
</style>
