---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Ron from "./Ron.astro";
import { Image } from "astro:assets";
import botellaRon from "../images/Appleton_Estate.jpg";
import espacial from "../images/bebidaEspacio.jpg";
---

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		font-family: gabarito;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		--shadowt: 3px 2px 0px rgb(0, 146, 63), 3px -2px 0px rgb(0, 255, 47),
			-3px 2px 0px rgb(0, 255, 170);
		--shadow2: 3px 2px 0px rgb(41, 0, 146), 3px -2px 0px rgb(0, 115, 255),
		-3px 2px 0px rgb(0, 238, 255);
		--shadow3: 3px 2px 0px rgb(132, 0, 146), 3px -2px 0px rgb(128, 0, 255),
		-3px 2px 0px rgb(255, 0, 157);

		text-align: center;
		font-size: 6.5em;
		font-weight: bold;
		/*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
		;
		color: #fff7e8;
		/*text-shadow: 3px 3px 1px rgb(0, 146, 63);*/
		text-shadow: var(--shadowt);
		font-weight: 800;
		transition:
			color 0.2s ease-in-out,
			text-shadow 0.25s ease-in-out;
		animation: colores 5s ease-in-out infinite;
	}
	@keyframes colores {

		0% {
			/*color: rgb(0, 255, 26);*/
		}
		50% {
			/*color: blueviolet;*/
			text-shadow: var(--shadow3);
		}
		85% {
		/*color: aqua;*/
			text-shadow: var(--shadow2);
		}
		100% {
			/*color: rgb(0, 255, 26);*/
			text-shadow: var(--shadowt);
		}
	}
	/*h1 span {
		transition:
			color 0.2s ease-in-out,
			text-shadow 0.25s ease-in-out;
	}
	.color1 {
		color: green;
	}
	.color2 {
		color: white;
	}
	/*h1 span:hover {
		color: rgb(0, 143, 63);
		text-shadow: 5px 0px 1px rgb(227, 227, 227);
		
	}*/
	svg {
		width: 100%;
		position: absolute;
		z-index: -1;
		top: 80px;
		opacity: 65%;
	}
	/*NO SE QUE ERA  */
	/*
	.containf {
		/*width: 100%;
		height: 80px;
		position: absolute;
		top: 100px;
		display: flex;
		gap: 600px;
	}
	*/
	/*.containf2 {
		width: 100%;
		height: 80px;
		position: absolute;
		top: 100px;
		left: 10%;
		display: flex;
		gap: 600px;
		flex-direction:start;
	}
	*/
	/*.flowers {
		background-image: url("../images/flower.png");
		width: 100px;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		animation: rotacion 3s linear infinite;
	}
	/*.frotate1 {
		background-image: url("../images/flower.png");
		width: 100px;
		height: 100%;
		background-size: contain;
		transform: rotate(180deg);
		filter: invert(100);
		background-repeat: no-repeat;
		z-index: -1;
		
	}*/
	/*.flowers2 {
		background-image: url("../images/flower.png");
		width: 100px;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		animation: rotacion 3s linear infinite;
		/*position: fixed;
		top: 100px;
		left: 75%;
	}
	@keyframes rotacion{
		0%{
			transform: rotate(0deg);
			
		}
		25%{
			transform: rotate(90deg);
		
		}
		50%{
			transform: rotate(180deg);
		
		}
		75%{
			transform: rotate(270deg);
		
		}
		100%{
			transform: rotate(360deg);
		
		}
	}
	/*.frotate2 {
		background-image: url("../images/flower.png");
		width: 100px;
		height: 100%;
		background-size: contain;
		transform: rotate(180deg);
		filter: invert(100);
		background-repeat: no-repeat;
		z-index: -1;
	
	}
		*/

	/* SEGUNDA VERSION COLORES 
	h1 {
		font-family: "Gabarito";
		text-shadow: 3px 3px 0px rgb(0, 0, 0);
		display: flex;
		position: relative;
		left: 20%;
		font-size: 5em;
		font-weight: 900;
		text-align: center;
		
	}
	h1{
		display: inline-block;
		animation: colorChange 12s infinite;
	}

	@keyframes colorChange {
		0% {
			color: blue;
		}
		14.28% {
			color: red;
		}
		28.56% {
			color: yellow;
		}
		42.84% {
			color: green;
		}
		57.12% {
			color: orange;
		}
		71.4% {
			color: purple;
		}
		85.68% {
			color: rgb(255, 255, 255);
		}
		100% {
			color: blue;
		}
	}
*/
	/*h1 {
						font-size: 4em;
						font-weight: 900;
						line-height: 1;
						text-align: center;
						margin-bottom: 1em;
						font-weight: 900;
						font-family: gabarito;
						/*font-family: 'moul';*/
	/*color: rgb(4, 57, 131);*/
	/*color: rgb(35, 250, 175);*/

	/*color: rgb(255, 255, 255);
						text-shadow: 4px 0px 1px rgb(1, 202, 102);
						color: rgb(255, 255, 255);
						text-shadow: 5px 0px 1px rgb(0, 146, 63);
					}
						*/
	@media (max-width: 720px) {
		h1 {
			font-size: 60px;
		}
		svg {
			top: 50px;
		}
	}
	@media (max-width: 520px) {
		h1 {
			font-size: 40px;
		}
		svg {
			top: 20px;
		}
	}
	/*.text-gradient {
						background-image: var(--accent-gradient);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-size: 400%;
						background-position: 0%;
					}*/

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.coctelinicio {
		text-align: center;
	}
	.coctelinicio img {
		width: 45%;
		height: 45%;
		border-radius: 1em;
	}
	/* EFECTO */
</style>
<!-- <svg
	width="1101"
	height="126"
	viewBox="0 0 1101 126"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<line y1="12.5" x2="1101" y2="12.5" stroke="#04F700" stroke-width="25"
	></line>
	<line y1="37.75" x2="1101" y2="37.75" stroke="#04D300" stroke-width="25"
	></line>
	<line y1="63" x2="1101" y2="63" stroke="#03AC00" stroke-width="25"></line>
	<line y1="88.25" x2="1101" y2="88.25" stroke="#028700" stroke-width="25"
	></line>
	<line y1="113.5" x2="1101" y2="113.5" stroke="#00873D" stroke-width="25"
	></line>
</svg>
-->
<Layout title="Cocteles">
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Emblema+One&family=Honk&family=Jersey+10&family=Kosugi+Maru&family=Moul&family=Rubik+80s+Fade&family=Rubik+Broken+Fax&family=Rubik+Dirt&family=Rubik+Glitch&family=Rubik+Mono+One&family=Suez+One&display=swap"
		rel="stylesheet"
	/>

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
		rel="stylesheet"
	/>
	<title>Animated Title</title>

	<main>
		<!-- <h1><span class="text-gradient">COCTELES</span></h1>-->
		<h1 id="cocteles">COCTELES</h1>
		<div class="coctelinicio">
			<!--<img src={espacial.src} alt="botella">	 -->
		</div>
		<div class="containf">
			<div class="flowers"></div>
			<div class="flowers2"></div>
		</div>
		<!-- CONTENEDOR FLORES ROTADAS 2
		<div class="containf2">
			<div class="frotate1"></div>
			<div class="frotate2"></div>
		</div>
		-->

		<ul role="list" class="link-card-grid">
			<Card
				href="/Ron"
				title="Ron"
				body="11 cocteles de Ron: "
				bebida1="- La Fresa"
				bebida2="- Piña colada"
				bebida3="- Fresa colada"
				bebida4="- Beso Playero"
				bebida5="- Mojito"
				bebida6="- Mojito de Coco"
				bebida7="- Hollywood de noche"
				bebida8="- Purple Sky"
				bebida9="- Rosa"
				bebida10="- Luces de Habana"
				bebida11="- Spare time"
			/>
			<!-- <Image src={botellaRon} alt="botella" /> -->
			<div class="vodka">
				<Card
					href="/Vodka"
					title="Vodka"
					body="21 cocteles de Vodka:"
					bebida1="- Medias de seda"
					bebida2="- Panchecito"
					bebida3="- Malibu Sunrise"
					bebida4="- Espia Ruso"
					bebida11="- Mula Moscovita y mas..."
					bebida6="- Poseidon"
					bebida7="- Sex on the beach"
					bebida8="- Sangria"
					bebida9="- Molotov"
					bebida10="- Go Berry"
					bebida5="- Conga"
				/>
			</div>
			<Card
				href="/Tequila"
				title="Tequila"
				body="12 cocteles de Tequila:"
				bebida1="- Toro Bravo"
				bebida2="- Tequila Sunrise"
				bebida3="- Margarita"
				bebida4="- Blue Margarita"
				bebida5="- Paloma"
				bebida6="- Tequila Sunrise (Hierbabuena)"
				bebida7="- Iguana green"
				bebida8="- TNT"
				bebida9="- Malinche"
				bebida10="- Rosa Mexicana"
				bebida11="- Abuela"
			/>
			<!--
			<Card
				href=""
				title="Whiskey"
				body=""
				bebida1=""
				bebida2=""
				bebida3=""
				bebida4=""
				bebida5=""
				bebida6=""
				bebida7=""
				bebida8=""
				bebida9=""
				bebida10=""
				bebida11=""
			/>
			-->
			<Card
				href=""
				title="Ginebra"
				body="5 cocteles de Ginebra:"
				bebida1="- Abbey"
				bebida2="- Hula Hula Coctel"
				bebida3="- Flora Cooler"
				bebida4="- Lady Maria"
				bebida5="- Gin Today"
				bebida6=""
				bebida7=""
				bebida8=""
				bebida9=""
				bebida10=""
				bebida11=""
			/>
		</ul>
	</main>
</Layout>
