---

---

<main>
    <div class="cocteles">
        <p class="titulos">La Fresa</p>
        <hr />
        <p class="ingredientes">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa
            consectetur voluptatem itaque nemo nam accusantium iste, veniam
            assumenda voluptatibus ullam delectus suscipit in quisquam dolorum,
            nostrum sint, impedit facere nulla.
        </p>
        <p class="metodo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut
            accusamus quasi neque quidem autem, perspiciatis quae ullam fugit
            placeat vel amet, unde earum mollitia! At aspernatur a laborum cum.
        </p>
    </div>
    <hr>
</main>
